.container {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;

  @include respond(small) {
    flex-direction: column;
  }

  .illustration {
    flex: 1.5;
    margin-right: 2rem;

    &__img {
      width: 100%;
    }
  }

  .text-content {
    flex: 1;
    color: $color-white;

    @include respond(small) {
      text-align: center;

      .register-btn{
        width: 80%;
      }

    }
  }
}
