*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   
}

body {
    background-image: linear-gradient(to right, rgba($color-primary, .9), rgba($color-primary, .9)), url('../../images/bg-desktop.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 4rem;

    @include respond(small){
        padding: 3rem;
    }
}