body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
}

.heading-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 4rem;

    @include respond(small){
        font-size: 3rem;
    }
}

.paragraph {
    font-size: 1.8rem;

    @include respond(small){
        font-size: 1.6rem;
    }
}