.u-text-center {
  text-align: center !important;
}

.u-mb {
    // small
  &-sm {
    margin-bottom: 1.5rem !important;
  }

//   medium
  &-md {
    margin-bottom: 4rem !important;
    @include respond(tab-port) {
      margin-bottom: 3rem !important;
    }
  }

//   big
  &-bg {
    margin-bottom: 8rem !important;
    @include respond(tab-port) {
      margin-bottom: 5rem !important;
    }
  }
}


.u-mt {
    // small
  &-sm {
    margin-top: 1.5rem !important;
  }

//   medium
  &-md {
    margin-top: 4rem !important;
  }

//   big
  &-bg {
    margin-top: 8rem !important;
    
  }

  //   huge
  &-hg {
    margin-top: 10rem !important;
  }
}
