.btn {
    padding: 1rem 4rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.6rem;
    display: inline-block;

    

    &--white {
        background-color: $color-white;
        color: $color-primary; 
        box-shadow: .5rem 2rem 4rem rgba(0,0,0, .3);
        transition: all .3s;      

        &:hover {
            transform: translateY(-.5rem);
            box-shadow: .5rem 1rem 2rem rgba(0,0,0, .3);
        }

        &:active {
            transform: translateY(0rem);
        }

    }

}