.btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    display: inline-block;
    border-radius: 3px;
    padding: 1rem 2rem;
    cursor: pointer;

    @include respond(small){
        padding: .8rem 1.6rem;
    }
}  

.btn-primary {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 .4rem .8rem rgba(0,0,0,.2);
    transition: all .2s ease;
    padding: 1.5rem 4rem;

    &:active {
        box-shadow: 0 .2rem .4rem rgba(0,0,0,.2);
    }
}