* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bg-color: #f6f4ef;
$primary: #21409a;
$gray-color: #a5a49f;
$gray-dark-color: #5c5c5c;
$white: #fff;
$divider-color: rgb(165, 164, 159);
$border-color: rgba(166, 165, 160, 0.5);

$page-padding-left: 18vw;

html {
  font-size: 62.5%;
}

body {
  background-color: $bg-color;
  padding-top: 8rem;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: Calibre, sans-serif;

  @media screen and (max-width: 768px) {
    padding-top: 4rem;
  }
}

a {
  text-decoration: none;
  display: inline-block;

  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }

  &.underline-link.primary {
    border-bottom: 1px solid $primary;
    color: $primary;
  }
}

p {
  line-height: 1.5;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1rem 1rem;

  &.btn-filled {
    background-color: $primary;
    color: $white;
  }

  &.btn-outline {
    border: 1px solid $primary;
    color: $primary;
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-0-5 {
  margin-bottom: 0.5rem;
}

.desc {
  color: $gray-color;
  font-weight: 300;
}

.header {
  display: flex;
  padding-right: 4rem;
  padding-left: $page-padding-left;
  margin-bottom: 4rem;
  align-items: center;

  @media screen and (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .header__logo {
    width: 4rem;
    height: 4rem;
    display: block;
    position: absolute;
    left: 2rem;
    top: 8rem;

    @media screen and (max-width: 768px) {
      top: 4rem;
      left: 1rem;
    }
  }

  .header__text {
    margin-right: auto;

    .title {
      text-decoration: none;
      color: $primary;
      font-weight: 300;
      display: block;
      margin-bottom: 0.5rem;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .auth-links {
    display: flex;
    align-items: center;
    margin-left: auto;

    .underline-link {
      margin-right: 1.6rem;
    }
  }
}

.intro {
  position: relative;
  padding-left: $page-padding-left;
  padding-right: 4rem;
  padding-bottom: 10rem;
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__left {
    flex: 0.4;
    padding-top: 12rem;

    @media screen and (max-width: 768px) {
      padding-top: 4rem;
    }
  }

  &__right {
    flex: 0.6;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      position: sticky;
      top: 16rem;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .intro-title {
    color: $primary;
    font-weight: 400;
    font-size: 2.5rem;
  }

  .intro-desc {
    color: $gray-dark-color;
    margin-bottom: 2rem;
    font-weight: 300;
  }

  .divider {
    margin-bottom: 2rem;
  }

  .subsections {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .subsection {
      flex: 40%;
      margin-right: 1rem;
      margin-bottom: 2rem;

      &:nth-of-type(2n) {
        margin-right: 0;
      }

      @media screen and (max-width: 768px) {
        flex: 1;
        margin-right: 0;
      }

      &__title {
        color: $primary;
        font-weight: 400;
        margin-bottom: 0.5rem;

        &:before {
          content: '↳ ';
        }
      }
    }
  }

  .section-problem,
  .section-need, .section-solution {
    margin-bottom: 10rem;

    @media screen and (max-width: 768px) {
      margin-bottom: 5rem;

      &:before {
        content: '';
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto 2rem auto;
        background-image: url('https://www.tapwater.co/marketing/animation/stage0.gif');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  .section-solution {
    margin-bottom: 4rem;
  }

  .cta {
    display: block;
    background-color: white;
    display: flex;
    align-items: center;
    color: $primary;
    padding: 1rem;
    width: 80%;
    border-radius: 0.3rem;
    box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 768px) {
      width: 100%;
      justify-content: center;
    }

    .doc-icon {
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;
      opacity: 0.5;
    }
  }
}

.get-started {
  background-color: $white;
  padding: 8rem 0;

  @media screen and (max-width: 768px) {
    padding: 5rem 2rem;
  }

  .content {
    width: 50%;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .title {
      color: $primary;
      font-weight: 300;
      font-size: 3.2rem;
      margin-bottom: 2rem;

      @media screen and (max-width: 768px) {
        font-size: 2.5rem;
      }
    }
    .subtitle {
      color: $gray-dark-color;
      margin-bottom: 2rem;
    }

    form {
      position: relative;

      input {
        display: block;
        width: 100%;
        outline: none;
        border: none;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        padding: 3rem 0;
        font-size: 1.7rem;
        color: $gray-dark-color;
        padding-right: 20%;

        &:focus {
          border-top-color: $primary;
          border-bottom-color: $primary;
        }

        &::placeholder {
          font-size: 1.7rem;
          font-weight: 300;
        }
      }
      .submit-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.7rem;
        font-weight: 300;
      }
    }
  }
}

.features {
  background-color: $bg-color;
  width: 70%;
  margin: 0 auto;
  padding: 8rem 0;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 5rem 2rem;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .left {
      margin-right: auto;

      @media screen and (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 1rem;
      }

      .title {
        color: $primary;
        font-weight: 400;
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      .subtitle {
        color: $gray-dark-color;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .feature__item {
      width: 30%;
      margin-right: 5%;
      margin-bottom: 3rem;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      img {
        width: 100%;
        border-radius: 0.3rem;
        height: auto;
        object-fit: cover;
        display: block;
        margin-bottom: 1rem;
        box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__cta {
    width: 100%;
    background-color: $white;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    span {
      display: inline-block;
      margin-right: 2rem;
      font-size: 2rem;
      color: $gray-dark-color;
      font-weight: 300;

      @media screen and (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
      }
    }

    .btn {
      font-size: 1.8rem;
      font-weight: 300;
    }
  }
}

.why-tap-water {
  background-color: $primary;
  padding: 8rem 0;
  color: $white;

  @media screen and (max-width: 768px) {
    padding: 5rem 2rem;
  }

  .content {
    display: flex;
    width: 70%;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      width: 100%;
      flex-direction: column;
    }

    .left {
      flex: 0.3;
      margin-right: 2rem;

      @media screen and (max-width: 768px) {
        flex: 1;
        margin-right: 0;
      }

      .title {
        font-weight: 300;
        font-size: 3rem;

        @media screen and (max-width: 768px) {
          font-size: 2rem;
          margin-bottom: 2.2rem;
          font-weight: 300;
        }
      }
    }
    .right {
      flex: 0.7;

      @media screen and (max-width: 768px) {
        flex: 1;
      }

      p {
        font-weight: 300;
        line-height: 1.7;
        margin-bottom: 2rem;
      }

      .cta-link {
        color: $white;
        font-weight: 300;
        border-bottom: 1px solid $white;
      }
    }
  }
}

.footer {
  background-color: $bg-color;
  padding: 8rem 0;

  @media screen and (max-width: 768px) {
    padding: 5rem 2rem;
  }

  .content {
    width: 70%;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__links {
    display: flex;
    // justify-content: space-around;
    margin-bottom: 4rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    & > div {
      flex: 1;

      @media screen and (max-width: 768px) {
        margin-bottom: 2rem;
      }
    }

    .title {
      color: $primary;
    }

    .footer__link {
      color: $gray-color;
      display: inline-block;
      font-weight: 300;

      &:hover {
        color: $gray-dark-color;
        border-bottom: 1px solid $gray-dark-color;
      }
    }
  }

  .divider {
    margin-bottom: 2rem;
  }
}
